<style>
    .orders_item_content h4 {
        font-weight: bolder;
    }

    .more_btngroup {
        display: inline-block;
        padding: 0;
    }

    .more_btngroup > .layui-nav-item {
        line-height: 30px;
    }

    #table_tb {
        padding: 0px 15px;
    }

    .more_btngroup > .layui-nav-item > .layui-nav-child {
        top: 32px;
    }

    .layui-table-link {
        cursor: pointer;
        color: #01AAED;
    }

    .orders_item_content .border_lf_solid {
        border-left: 1px solid rgb(174, 216, 255);
        border-right: 1px solid rgb(174, 216, 255);
    }

    .readID {
        display: none;
    }

    #this_page {
        margin-top: 10px;
        width: 49px;
        height: 23px;
        display: inline-block;
        text-align: center;
    }

    #get_null {
        text-align: center;
        height: 500px;
        display: none;
        margin-top: 50px;
    }

    .orders_btn_check, .orders_check_detail, .orders_item_content_detail {
        float: left;
    }

    .orders_more_operate {
        float: left;
        margin-top: 10px;
    }

    .orders_item_content .adjust_height {
        height: 150px;
    }

    .orders_item_content_detail {
        box-sizing: border-box;
        width: 20%;
        padding-top: 10px;
        padding-left: 20px;
        height: 110px;
    }

    .orders_item:after, .orders_item_content:after {
        content: "";
        display: block;
        clear: both;
    }

    .orders_item_content_val {
        margin-right: 20px;
    }

    .detail_item1_key {
        margin-right: 10px;
    }

    .detail_item1_value {
        margin-right: 20px;
    }

    .bg_romatic {
        background: #FF5722;
        display: inline-block;
        color: #fff;
        padding: 2px 5px 2px 5px;
        border-radius: 3px;
    }

    .orders_item {
        background: rgb(174, 216, 255);
        padding-top: 12px;
    }

    .orders_hover_bg {
        background: rgb(174, 216, 255);
        border: 1px solid rgb(174, 216, 255);
    }

    .orders_item_content.hover_border {
        border: 1px solid rgb(174, 216, 255);
    }

    .orders_item_content {
        margin-bottom: 26px;
        border: 1px solid #f2f2f2;

    }

    .orders_item.orders_nomsg {
        padding-bottom: 0;
        padding-top: 0;
    }

    .orders_btn_check {
        text-align: center;
        padding: 10px;
    }

    .orders_check_detail {
        padding-top: 6px;
    }

    .orders_check_detail_item2 {
        margin-top: 5px;
    }

    .orders_item_content_custom {
        float: left;
        width: 15%;
        height: 110px;
        border-left: 1px solid #F2F2F2;
        border-right: 1px solid #F2F2F2;
        padding-left: 20px;
        padding-top: 10px;
        box-sizing: border-box;
        padding-bottom: 10px;
    }

    .content_item {
        margin-top: 10px;
    }

    .content_item:after {
        content: '';
        display: block;
        clear: both;
    }

    .orders_item_content_busi {
        height: 110px;
        border-left: 1px solid #F2F2F2;
        padding-bottom: 10px;
        float: left;
        width: 25%;
        padding-left: 20px;
        padding-top: 10px;
        box-sizing: border-box;
    }

    .orders_item_content_img {
        width: 15%;
        float: left;
    }

    .orders_item_content_img img {
        width: 100%;
    }

    .orders_item_content_money {
        width: 15%;
        float: left;
    }

    .orders_item_content_remark {
        width: 15%;
        float: left;
    }

    .orders_item_content_product {
        padding-bottom: 10px;
        width: 15%;
        float: left;
        height: 110px;
        border-right: 1px solid #F2F2F2;
        padding-left: 20px;
        padding-top: 10px;
        box-sizing: border-box;
    }

    .detail_item1_value {
        margin-right: 20px;
    }

    .spu_unit_wrap {
        height: 20px;
        overflow: hidden;
    }

    .ellipsis_class {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 50%;
    }

    .show_spu_unitbtn {
        position: absolute;
        top: 1px;
        left: 50%;
    }

    .fin_pur_detail {
        color: rgb(174, 216, 255);
        cursor: pointer;
    }
</style>
<br>
<div class="layui-fluid">
    <div class="layui-form border1ccc">

        <div class="layui-form-item" style="margin-top: 16px;">
            <label class="layui-form-label">购买账号</label>
            <div class="layui-input-inline">
                <input type="text" name="buyerAccount" lay-verify="" placeholder="请输购买账号" autocomplete="off"
                       class="layui-input">
            </div>
            <label class="layui-form-label">采购员</label>
            <div class="layui-input-inline">
                <input type="text" name="buyerName" lay-verify="" placeholder="请输采购员" autocomplete="off"
                       class="layui-input">
            </div>

            <label class="layui-form-label">渠道订单号</label>
            <div class="layui-input-inline">
                <input type="text" name="platOrdersNo" lay-verify="" placeholder="请输渠道订单号" autocomplete="off"
                       class="layui-input">
            </div>
            <label class="layui-form-label">目标单号</label>

            <div class="layui-input-inline">
                <input type="text" name="goalBillNo" lay-verify="" placeholder="请输目标单号" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">

            <label class="layui-form-label">付款单号</label>
            <div class="layui-input-inline">
                <input type="text" name="paymentId" lay-verify="" placeholder="请输付款单号" autocomplete="off"
                       class="layui-input">
            </div>
            <label class="layui-form-label">发生单号</label>
            <div class="layui-input-inline">
                <input type="text" name="paymentId" lay-verify="" placeholder="请输发生单号" autocomplete="off"
                       class="layui-input">
            </div>
            <label class="layui-form-label">发生类型</label>
            <div class="layui-input-inline">
                <select name="changeBillType">
                    <option value="">不限</option>
                </select>
            </div>

            <label class="layui-form-label">生成状态</label>
            <div class="layui-input-inline">
                <select id="" name="hasPaymentId">
                    <option value="">不限</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input name="createTime" type="text" class="layui-input" id="fin_pay_createTime">
            </div>
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-submit lay-filter="fin_pur_search"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button class="layui-btn layui-btn-warm" lay-submit lay-filter="fin_pur_export"><i class="layui-icon">&#xe601;</i>导出</button>
            <!--<button class="layui-btn" lay-submit lay-filter="fin_pur_statistics">显示统计信息</button>-->
            <!--<div id="fin_pur_statistics_info" style="color: #ff0000;display: none;">显示统计信息</div>-->

        </div>
    </div>
</div>
<div class="layui-fluid">
    <br>
    <div class="layui-form" style="background: rgb(174, 216, 255); padding-top: 2px;">
        <div class="layui-form-item" style="margin-top: 16px;margin-bottom: 0px;">
            <label class="layui-form-label">全选：</label>
            <div class="layui-input-inline" style="width:50px;">
                <input type="checkbox" lay-skin="switch" lay-filter="switchAll" lay-text="是|否">
            </div>
            <label class="layui-form-label" style="width: 100px;">生成付款单：</label>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="fin_pur_generate"><i class="layui-icon">&#xe61f;</i>生成</button>
                <button class="layui-btn layui-btn-danger" lay-submit lay-filter="fin_pur_reject"><i class="layui-icon">&#xe6b2;</i>拒绝</button>
            </div>
        </div>
    </div>
</div>
<div id="table_tb">

</div>
<div id="get_null">没有查询到信息</div>
<div class="layui-form" id="data_page">
    <div class="layui-form-item">
        <button class="layui-btn layui-btn-xs" style="margin-left: 5px" id="btn_prev">前一页</button>
        <span id="this_page">1</span>
        <button class="layui-btn layui-btn-xs" id="btn_next">后一页</button>
    </div>
</div>


<script id="generateType-option-tpl" type="text/html">
    {{each payableStateEnum value index}}
    <option value="{{value.ordinal}}">{{value.display}}</option>
    {{/each}}
</script>
<script id="billType-option-tpl" type="text/html">
    {{each billTypeEnum value index}}
    <option value="{{value.ordinal}}">{{value.display}}</option>
    {{/each}}
</script>


<script type="text/html" id="generateTypeEnumTpl">
    {{d.payableStateEnum.display}}
</script>
<script type="text/html" id="goalBillTypeEnumTpl">
    {{d.goalBillTypeEnum.display}}
</script>
<script type="text/html" id="changeBillTypeEnumTpl">
    {{d.changeBillTypeEnum.display}}
</script>

<!--<script type="text/html" id="finPayAmountTpl">
    {{#  if(d.payAmount==null){ }}
    <input name="payAmount" style="color: #ff0000;" value="{{ d.amount }}"></input>
    {{#  } else{ }}
    <input name="payAmount" style="color: #ff0000;" value="{{ d.payAmount }}"></input>
    {{#  } }}
</script>-->

<script type="text/html" id="fin_pur_option">
    <a class="layui-btn layui-btn-xs" lay-event="fin_pur_detail">查看详情</a>
</script>

<script type="text/html" id="orderTableTpl">
    {{each item value index}}
    <div class="orders_item">
        <div class="orders_btn_check">
            <input type="checkbox" name="checkbox_group" value="{{value.id}}" data-paymount="{{value.payAmount}}">
        </div>
        <div class="orders_check_detail">
            <span class="detail_item1_key">购买账号:</span>
            <span class="detail_item1_value buyerAccount"> {{value.buyerAccount}}</span>
            <span class="detail_item1_key">渠道订单号:</span>
            <span class="detail_item1_value platOrdersNo">{{value.platOrdersNo}}</span>
            <span class="detail_item1_key">状态:</span>
            <span class="detail_item1_value">{{value.payableStateEnum.display}}</span>
            <span class="detail_item1_key">付款单号：</span>
            <span class="detail_item1_value paymentId">{{value.paymentId}}</span>
        </div>
    </div>
    <div class="orders_item_content">
        <div class="orders_item_content_busi">
            <p class="content_item"><span>发生单据/类型:</span><span>{{value.changeBillNo}}/{{value.changeBillTypeEnum.display}}</span>
            </p>
            <p class="content_item">
                <span>目标单据/类型:</span><span>{{value.goalBillNo}}/{{value.goalBillTypeEnum.display}}</span></p>
            <p class="content_item"><span>采购员:</span><span>{{value.buyerName}}</span></p>
            <p class="content_item"><span>创建时间:</span><span>{{value.createAt}}</span></p>
        </div>
        <div class="orders_item_content_img">
            <img src="" alt="">
        </div>
        <div class="orders_item_content_custom">
            <p class="content_item">
                <span class="orders_item_content_key">产品名：{{value.productTitle}}</span>
            </p>
            {{each value.financeItemSkus val2 ind2}}
            <p class="content_item">
                <span class="orders_item_content_val">{{val2.sku}}({{val2.skuTitle}})：<span
                        class="product_qty">{{val2.qty}}</span></span>
            </p>
            {{/each}}
        </div>
        <div class="orders_item_content_product">
            <p class="content_item">
                <span class="orders_item_content_key">供应商: <span class="partner">{{value.partner.name}}</span></span>
            </p>
            <p class="content_item">
                <span class="orders_item_content_key">渠道:{{value.platName}}</span>
            </p>
            <p class="content_item">
                <span class="orders_item_content_key"> 金额:{{value.amount}}</span>
            </p>
            {{if !value.paymentId}}
            <p class="content_item">
                <span class="orders_item_content_key">本次付款:</span>
                <input type="text" name="pay_count" value="{{value.payAmount}}"
                       onkeyup="this.value=this.value.replace(/[^\d]/g,'')"
                       onafterpaste="this.value=this.value.replace(/[^\d]/g,'')" style="width: 120px">
            </p>
            {{/if}}
        </div>
        <div class="orders_item_content_remark">
            <p class="content_item">
                <span class="orders_item_content_key">备注:</span>
            </p>
        </div>
    </div>
    {{/each}}
</script>

<script>
    var fin_pur_que_para = "", fin_pur_table;
    var fin_pay_item_data = {}, fin_pay_item_idx = 0;

    layui.use(['layer', 'table', 'element', 'form', 'laydate'], function () {
        var layer = layui.layer;
        var index = layer.load(0, {time: 5 * 1000});
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;
        form.render();

        $.ajax({
            type: 'GET',
            url: "/purchase/common/enumList",
            dataType: 'json',
            data: '',
            success: function (res) {
                console.log("请求枚举-下拉框数据", res);
                state_response(res);
                $("select[name='changeBillType']").append(template('billType-option-tpl', res.item));
                $("select[name='hasPaymentId']").append(template('generateType-option-tpl', res.item));
                form.render('select'); //刷新select选择框渲染
            }
        });


        //执行一个laydate实例
        laydate.render({
            elem: '#fin_pay_createTime' //指定元素
            , type: 'datetime'
            , range: '~' //或 range: '~' 来自定义分割字符
            , max: 'new Date()'
            , theme: 'molv'
            , ready: function (date) {
            }
            , change: function (value, date) { //监听日期被切换
            }
            , done: function (value, date, endDate) {

            }
        });
        //初始化div模板
        getData();


        //第一个实例
        fin_pur_table = table.render({
            elem: '#demo'
            , id: 'demo'
            , url: '/purchase/finance/payable/findList' //数据接口
            , method: 'post'
            , request: {
                pageName: 'page' //页码的参数名称，默认：page
                , limitName: 'limit' //每页数据量的参数名，默认：limit
            }
            , done: function (res, curr, count) {
                layer.close(index);
            }
            , response: {
                statusName: 'code' //数据状态的字段名称，默认：code
                , statusCode: 'OK' //成功的状态码，默认：0
                , msgName: 'desc' //状态信息的字段名称，默认：msg
                , countName: 'total' //数据总数的字段名称，默认：count
                , dataName: 'item' //数据列表的字段名称，默认：data
            }
            , page: true //开启分页
            , cols: [[ //表头
                {checkbox: true}
                , {field: 'platOrdersNo', title: '订单号', width: 120}
                , {field: 'goalBillNo', title: '目标单号', width: 120}
                , {templet: '#goalBillTypeEnumTpl', title: '目标单据类型', width: 120}
                , {field: 'changeBillNo', title: '发生单号', width: 120}
                , {templet: '#changeBillTypeEnumTpl', title: '发生单据类型', width: 120}
                , {field: 'changeUserName', title: '采购员', width: 120}
                , {field: 'createAt', title: '创建时间', width: 120}
                , {field: 'partner', title: '付款人'}
                , {field: 'productTitle', title: '产品名'}
                , {field: 'quantity', title: '数量'}
                , {field: 'amount', title: '金额'}
                , {field: 'payAmount', edit: 'text', title: '本次支付金额', style: 'color: #ff0000;', width: 150}
//                , {field: 'payAmount',templet: '#finPayAmountTpl', title: '本次支付金额', width: 150}
                , {field: 'plat_orders_no', title: '渠道号'}
                , {field: 'paymentId', title: '付款单号'}
                , {templet: '#generateTypeEnumTpl', title: '生成状态', width: 120}
                , {field: 'memo', title: '备注'}
                , {field: '', title: '操作', templet: '#fin_pur_option', align: 'center', fixed: 'right', width: 200}
            ]]
        });


        $("#btn_prev").click(function () {
            var page = $("#this_page").text();
            if ($("#this_page").text() == 1) {
                return;
            } else {
                $("#this_page").text(page - 1);
                if (fin_pur_que_para) {
                    fin_pur_que_para.page = page - 1;
                    fin_pur_que_para.limit = 10;
                    getData(fin_pur_que_para);
                } else {
                    getData({page: page - 1, limit: 10});
                }
                if (page_len == 10) {
                    $("#btn_next").prop("disabled") == true && $("#btn_next").attr("disabled", false);
                }
            }
        });

        $("#btn_next").click(function (e) {
            var page = $("#this_page").text();
            $("#this_page").text(parseInt(page) + 1);
            console.log(fin_pur_que_para);
            if (fin_pur_que_para) {
                fin_pur_que_para.page = parseInt(page) + 1;
                fin_pur_que_para.limit = 10;
                getData(fin_pur_que_para);
            } else {
                getData({page: page + 1, limit: 10});
            }

            if (page_len < 10) {
                $("#btn_next").attr("disabled", true);
                return;
            }
        });
        //监听查询
        form.on('submit(fin_pur_search)', function (data) {
            fin_pur_que_para = data.field;
            console.log("fin_pur_search", fin_pur_que_para);
            var createAt = $.trim(data.field.createTime).split("~");
            fin_pur_que_para.minCreateAt = createAt[0];
            fin_pur_que_para.maxCreateAt = createAt[1];
            console.log('search:' + JSON.stringify(fin_pur_que_para));
            //上述方法等价于
            getData(fin_pur_que_para);
            return false;
        });

        //导出
        form.on('submit(fin_pur_export)', function (data) {
            layer.msg('暂时未开放');
            return false;
        });

        //全选
        form.on('switch(switchAll)', function (data) {
            $('input[name=checkbox_group]').attr('checked',this.checked);
        });
        //统计
        form.on('submit(fin_pur_statistics)', function (data) {
//            var checkStatus = $("[name='checkbox_group']:checked").length;
//            if (checkStatus) {
//                var billNum = 0, pay_count = 0, productNum = 0, payTotal = 0.0, platOrdersNo = 0;
//                var err = 0;
//                $("[name='checkbox_group']:checked").each(function (i, that) {
//                    billNum++;
//                    var qty = $(that).parents(".orders_item").next(".orders_item_content").find('.product_qty').each(function (ind, val) {
//                        productNum += parseFloat($(val).text());
//                    });
//                    platOrdersNo = $(that).parent(".orders_btn_check").next(".orders_check_detail").find(".platOrdersNo").text();//订单号
//                    pay_count = $(that).parents(".orders_item").next(".orders_item_content").find('[name="pay_count"]').val();//本次付款
//                    payTotal += parseFloat(pay_count);
//                    if (pay_count > $(that).attr("data-paymount")) {
//                        layer.msg('订单号[' + platOrdersNo + ']实际支付金额不能大于原支付金额', {icon: 3});
//                        err++;
//                        return false;
//                    }
//                });
//                if (err > 0) {
//                    return false;
//                }
//                var info = '单据数量：' + billNum + ',产品总数量：' + productNum + ',付款总额：' + payTotal;
//                $("#fin_pur_statistics_info").html(info).show();
//                //前端统计不行再后台统计
////                postAjaxBat('store/invalid/auditPassBat', {ids: ids});
//            } else {
//                layer.msg('请勾选要操作的行', {icon: 3});
//            }
            return false;
        });
        //拒绝
        form.on('submit(fin_pur_reject)', function (data) {
            var checkStatus = $("[name='checkbox_group']:checked").length;
            if (checkStatus) {
                var platOrdersNo = 0, paymentId = 0, err = 0, _id = 0;
                var req_data = {
                    "auditList": []
                };
                var auditList = [];
                $("[name='checkbox_group']:checked").each(function (i, that) {
                    var obj = {};
                    platOrdersNo = $(that).parent(".orders_btn_check").next(".orders_check_detail").find(".platOrdersNo").text();//订单号
                    paymentId = $(that).parent(".orders_btn_check").next(".orders_check_detail").find(".paymentId").text();//付款单号
                    _id = $(that).val();
                    obj.id = parseFloat(_id);
                    auditList.push(obj);
                    if (paymentId) {
                        layer.msg('订单号[' + platOrdersNo + ']已生成，不能再拒绝，请重新勾选', {icon: 3});
                        err++;
                    }
                });

                req_data.auditList = auditList;
                if (err > 0) {
                    return false;
                }

                postAjaxList('/purchase/finance/payable/reject', JSON.stringify(req_data));

            } else {
                layer.msg('请勾选要操作的行', {icon: 3});
            }
            return false;
        });
        // 生成
        form.on('submit(fin_pur_generate)', function (data) {
            var checkStatus = $("[name='checkbox_group']:checked").length;
            if (checkStatus) {
                //发生单据负责人\收款方 需一致
                var changeUserNameSet = new Set();
                var partnerSet = new Set();
                var err = 0, pay_count = 0, _id = 0;
                var platOrdersNo = 0, paymentId = 0;

                var auditList = [];
                $("[name='checkbox_group']:checked").each(function (i, that) {
                    changeUserNameSet.add($(that).parent(".orders_btn_check").next(".orders_check_detail").find(".buyerAccount").text());//购买账号
                    partnerSet.add($(that).parents(".orders_item").next(".orders_item_content").find(".partner").text());//收款方

                    var obj = {};
                    platOrdersNo = $(that).parent(".orders_btn_check").next(".orders_check_detail").find(".platOrdersNo").text();//订单号
                    paymentId = $(that).parent(".orders_btn_check").next(".orders_check_detail").find(".paymentId").text();//付款单号
                    _id = $(that).val();
                    pay_count = $(that).parents(".orders_item").next(".orders_item_content").find('[name="pay_count"]').val();
                    obj.id = parseFloat(_id);
                    obj.payAmount = parseFloat(pay_count);
                    auditList.push(obj);
                    debugger;
                    var realCount = $(that).attr("data-paymount");
                    if (pay_count > parseInt(realCount)) {
                        layer.msg('订单号[' + platOrdersNo + ']实际支付金额不能大于原支付金额', {icon: 3});
                        err++;
                        return false;
                    }
                    if (paymentId) {
                        layer.msg('订单号[' + platOrdersNo + ']已生成付款单，请重新勾选', {icon: 3});
                        err++;
                    }
                });
                console.log("auditList", auditList);

                if (err > 0) {
                    return false;
                }
                debugger;
                if (changeUserNameSet.size > 1) {
                    layer.msg('购买账号需一致', {icon: 2});
                    return false;
                }
                if (partnerSet.size > 1) {
                    layer.msg('采购员需一致', {icon: 2});
                    return false;
                }
                console.log("req_data", JSON.stringify(auditList));
                layer.confirm('您将针对' + checkStatus + '条数据进行生成订单操作', {icon: 3, title: '生成付款单'}, function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '/purchase/finance/payable/generate',
                        dataType: 'json',
                        contentType: 'application/json;charset=utf-8',
                        data: JSON.stringify(auditList),
                        success: function (res) {
                            console.log('...res:' + JSON.stringify(res));
                            switch (res.code) {
                                case "OK":
                                    layer.msg('操作成功');
                                    fin_pay_item_data = res.item;
                                    fin_pay_item_data.id = res.item[0].paymentId;
                                    console.log("fin_pay_item_data", fin_pay_item_data);
                                    showDetail('view/purchase/finance/payableItem.html');
                                    break;
                                case "NOTICE":
                                case "FAIL":
                                    layer.msg(res.desc, {icon: 3});
                                    break;
                                default:
                            }
                            getData(fin_pay_item_data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.msg('操作失败，请重试');
                        }
                    });
                    layer.close(index);
                });


            } else {
                layer.msg('请勾选要操作的行', {icon: 3});
            }
            return false;
        });


        /*  table.on('edit(fin_pur_tab)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
         console.log(obj.value); //得到修改后的值
         console.log(obj.field); //当前编辑的字段名
         console.log(obj.data); //所在行的所有相关数据
         });*/


        //监听工具条
        table.on('tool(fin_pur_tab)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            console.log('data:' + JSON.stringify(data));

            if (layEvent === 'fin_pur_detail') { // 查看详情
                fin_pay_item_data = data;
                showDetail('view/purchase/finance/payableItem.html');
            }
        });
//        $("#table_tb").on("click",".fin_pur_detail",function () {
//            fin_pay_item_data=
//            showDetail('view/purchase/finance/payableItem.html.bak');
//        });
        function showDetail(url) {
            $.get(url, function (str) {
                var fin_pay_item_index = layer.open({
                    type: 1
                    , title: '详情信息'
                    , content: str //注意，如果str是object，那么需要字符拼接。
                    , maxmin: true
                    , area: ['65%', '80%']
                });
                fin_pay_item_idx = fin_pay_item_index;
            });

        }

        ///从服务器端取数据，渲染到#table_tb
        function getData(par) {
            $.ajax({
                type: "POST",
                url: "/purchase/finance/payable/findList",
                dataType: "json",
                data: par || {
                    page: 1, //页码的参数名称，默认：page
                    limit: 10 //每页数据量的参数名，默认：limit
                },
                success: function (res) {
                    layer.close(index);

                    page_len = res.item && res.item.length;
                    console.log(page_len);
                    if (page_len != 0) {
                        $('#table_tb').html(template('orderTableTpl', res));
                        $("#get_null").hide();
                    } else {
                        $('#table_tb').html("");
                        $("#get_null").show();
                    }
                }
            });
        }

        function postAjaxList(url, data) {
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                data: data,
                success: function (res) {
                    console.log('...res:' + JSON.stringify(res));
//                    state_response(res);
                    switch (res.code) {
                        case "OK":
                            layer.msg('操作成功');
                            break;
                        case "NOTICE":
                        case "FAIL":
                            layer.msg(res.desc, {icon: 3});
                            break;
                        default:
                    }
                    fin_pur_table.reload({
                        where: fin_pur_que_para
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('操作失败，请重试');
                }
            });
        }
    });

</script>

