<link rel="stylesheet" href="../style/product.css">
<!--产品详情页面-->
<div class="layui-row" style="margin-top: 15px">
    <div class="layui-col-md3 border1ccc margin-l-30" id="productDetailsapproveplId" >
    </div>
    <div class="layui-col-md8 border1ccc " style="margin-left: 60px">
        <div class="layui-form">
            <div class="layui-form-item" >
                <br/>
                <button class="layui-btn margin-l-30" lay-submit lay-filter="skuCheck"><i class="layui-icon">&#xe615;</i>SKU预览</button>
            </div>
        </div>
        <br/>
        <!--产品属性绑定-->
        <div id="category_info"></div>
        <!--产品属性值绑定-->
        <div id="product_val_info" style="margin-top: 30px;"></div>
    </div>
</div>
<!--产品详细模板-->
<script id="productapprove_detailsTpl" type="text/html">
    <div class="layui-form-item " style="width: 100%; height: 100%; text-align: center;">
        <img src="{{$imports.$window.product_img_host}}/{{mainImageUrl}}" class="clickamplify_img" style="width: 100%; height:350px" />
    </div>
    <div class="divoverflow-details element">
        <div class="layui-text margin-l-30">产品ID:{{ id }}</div>
        <div class="layui-text margin-l-30">SPU:{{ spu }}</div>
        <div class="layui-text margin-l-30">内部名:{{ innerName }}</div>
        <div class="layui-text margin-l-30">标题:{{ title }}</div>
        <div class="layui-text margin-l-30">品类:{{ name }}</div>
        <div class="layui-text margin-l-30">特性:{{ classifyEnumName }}</div>
        <div class="layui-text margin-l-30">采购价:{{ purchasePrice }}</div>
        <div class="layui-text margin-l-30">创建人:{{ creator }}</div>
        <div class="layui-form layui-text margin-l-30">
            {{if state === 'waitFill'}}
                状态:<span style="color: #ffe73c">待填充</span>
                <input value="{{id}}" type="hidden" name="id" lay-verify="required" class="layui-input">
                <input value="{{title}}" type="hidden" name="title" lay-verify="required" class="layui-input">
                <button class="layui-btn layui-btn-normal" style="margin-left: 30px;" lay-submit lay-filter="approve_waitFillSubmit"><i class="layui-icon">&#xe605;</i>提交</button>
            {{else if state === 'archiving'}}
                状态:<span style="color: #37f5d1">建档中</span>
            {{else if state === 'onsale'}}
                状态:<span style="color: #4ef73c">已上架</span>
            {{else if state === 'offsale'}}
                状态:<span style="color: #f54744">已下架</span>
            {{else if state === 'disappeared'}}
                状态:<span style="color: #1b293b">已消档</span>
            {{else if state === 'start'}}
                状态:<span>开始</span>
            {{else}}
                状态:<span>{{ state }}</span>
            {{/if}}
            <input value="{{innerName}}" type="hidden" name="innerName" class="layui-input">
            <input value="{{classifyEnum}}" type="hidden" name="classifyEnum" class="layui-input">
            <button class="layui-btn" style="margin-left: 30px;" lay-submit lay-filter="approve_productPushFilter"><i class="layui-icon">&#xe642;</i>修改</button>
        </div>
        <div class="layui-text margin-l-30">总库存:{{ totalStock }}</div>
        <div class="layui-text margin-l-30">属性描述:{{ attributeDesc }}</div>
        <div class="layui-text margin-l-30">备注:{{ memo }}</div>
    </div>
    <div style="margin-top: 10px">
        <div style="text-align: center; margin-bottom: 10px; font-size: 20px; color: rgba(151, 39, 202, 0.92); font-weight: 600;">
        <span>产品区域</span>
        </div>
        <div class="layui-text margin-l-30 element divoverflow-details">
            {{each productZoneList value index}}
            <span>{{value.departmentName}}</span>&nbsp;
            <span style="color: #b847b0">{{value.creator}}</span>&nbsp;
            <span style="color: #1c16f7">{{value.zoneName}}</span>&nbsp;
            <span>库存:</span><span>{{value.stock}}</span>&nbsp;
            <span>状态:</span><span style="color: #1c16f7">{{value.stateName}}</span><br/>
            <span>最后下单时间:</span><span>{{value.lastOrderAt}}</span>
            <br/>
            {{/each}}
        </div>
    </div>

</script>

<!--查看sku-->
<script id="approve_checkSkuTpl" type="text/html">
    <div>
        <table id="approve_checkSkuId" lay-filter="approve_checkSku"></table>
    </div>
</script>
<!--表格sku模板-->
<script type="text/html" id="approve_skuTpl">
    {{# if(d.sku === null){ }}
        <span style="color: #1c16f7">未生成</span>
    {{# }else{ }}
        <span>{{d.sku}}</span>
    {{# } }}
</script>

<!--品类模板-->
<script id="productDetails_categoryapproveTpl" type="text/html">
    <div>
        <div class="layui-form-item">
            <label class="layui-form-label">属性:</label>
            <div class="layui-input-inline">
                <input class="layui-input" id="attr_title" />
            </div>
            <input value="{{item.productId}}" type="hidden" id="attr_product_id" name="attrProductId" lay-verify="required" class="layui-input">
            <input value="{{item.categoryId}}" type="hidden" id="attr_category_id" name="attrCategoryId" lay-verify="required" class="layui-input">
            <button class="layui-btn layui-btn-normal margin-t-3" lay-submit lay-filter="addAttrFilter" ><i class="layui-icon">&#xe654;</i>添加</button>
        </div>
        <div class="margin-l-30">属性的绑定:</div><br/>
        <div id="product_add_attrId" style="max-height: 200px; overflow: auto">
            {{each item value index}}
            {{if value.bindIs == true}}
                <span>
                    <input class="operate_input margin-l-30" type="checkbox" checked="checked" />
                    <span class="operate_linkbtn" data-id="{{value.id}}" data-title="{{value.title}}" onclick="operate_seleprops(this);">
                        <a href="javascript:;" class="layui-table-link">{{value.title}}</a>
                    </span>
                </span>
            {{else}}
                <span>
                    <input class="operate_input margin-l-30" type="checkbox" />
                    <span class="operate_linkbtn" data-id="{{value.id}}" >{{value.title}}</span>
                </span>
            {{/if}}
            {{/each}}
        </div>
        <br>
    </div>
</script>
<!--产品属性值模板(绑定解绑)-->
<script id="productapprove_attrValTpl" type="text/html">
    <div>
        <div class="layui-form-item" style="margin-top: 30px;">
            <label class="layui-form-label">属性值:</label>
            <div class="layui-input-inline">
                <input class="layui-input" id="attrVal_title" />
            </div>
            <input value="{{item.productId}}" type="hidden" id="attrVal_product_id" name="attrValProductId" lay-verify="required" class="layui-input">
            <input value="{{item.attributeId}}" type="hidden" id="attrVal_attribute_id" name="attrValAttributeId" lay-verify="required" class="layui-input">
            <input value="{{item.categoryId}}" type="hidden" id="attrVal_category_id" name="attrValCategoryId" lay-verify="required" class="layui-input">
            <button class="layui-btn layui-btn-normal margin-t-3" lay-submit lay-filter="addAttrValFilter"><i class="layui-icon">&#xe654;</i>添加</button>
        </div>

        <div class="margin-l-30">属性[ <span style="color: #1c16f7">{{item.attrTitle}}</span> ]的属性值的绑定:</div><br/>
        <div style="margin-bottom: 20px; max-height: 320px; overflow: auto">
            {{each item value index}}
            {{if value.bindIs == true}}
            <span>
                <input class="operate_input_val margin-l-30" type="checkbox" checked="checked" />
                <span class="operate_linkbtn_val" data-id="{{value.id}}" >{{value.title}}</span>
            </span>
            {{else}}
            <span>
                <input class="operate_input_val margin-l-30" type="checkbox" />
                <span class="operate_linkbtn_val" data-id="{{value.id}}" >{{value.title}}</span>
            </span>
            {{/if}}
            {{/each}}
        </div>
    </div>
</script>
<!--产品特性和内部名的修改-->
<script type="text/html" id="approve_productPushTpl">
    <div class="layui-form padding30">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="required_mark">*</span>内部名:</label>
            <div class="layui-input-block">
                <input class="layui-input" value="{{innerName}}" name="innerName" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="required_mark">*</span>产品特性</label>
            <div class="layui-input-block">
                <select name="classifyEnum" lay-verify="required" lay-filter="aihao">
                    <option value="">请选择</option>
                    <option value="D" {{if classifyEnum === 'D'  }} selected {{/if}}>带电</option>
                    <option value="Y" {{if classifyEnum === 'Y'  }} selected {{/if}}>液体</option>
                    <option value="S" {{if classifyEnum === 'S'  }} selected {{/if}}>普通</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="right-confirm">
                <button class="layui-btn layui-btn-normal float-r" lay-submit lay-filter="approve_productPushSubmit"><i class="layui-icon">&#xe618;</i>确定</button>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
//    var cateCurrentOnclick;
    layui.use(['layer', 'form', 'table'], function () {
        var productDetailsapprove_layer = layui.layer;
        var productDetailsapprove_form = layui.form;
        var productDetailsapprove_table = layui.table;
        var productPushIndex;
        productapprove_details();
        //sku查看事件监听
        productDetailsapprove_form.on('submit(skuCheck)', function(obj){
            skuCheck(productDetailsapprove_layer, productDetailsapprove_table, obj);
        });
        //属性的添加
        productDetailsapprove_form.on('submit(addAttrFilter)', function (obj) {
            addAttr(obj);
        });
        //属性值的添加
        productDetailsapprove_form.on('submit(addAttrValFilter)', function (obj) {
            addAttrVal();
        });
        //待填充的提交
        productDetailsapprove_form.on('submit(approve_waitFillSubmit)', function (obj) {
            approveWaitFillSubmitFun(productDetailsapprove_layer, obj);
        })
        //产品特性和内部名的修改
        productDetailsapprove_form.on('submit(approve_productPushFilter)', function (obj) {
            productPushIndex = productPushFilterFun(productDetailsapprove_layer, productDetailsapprove_form, productPushIndex, obj);
        })
        //产品特性和内部名的提交
        productDetailsapprove_form.on('submit(approve_productPushSubmit)', function (obj) {
            ProductPushSubmit(productDetailsapprove_layer, productPushIndex, obj);
        })

    });

    //产品信息修改提交
    function ProductPushSubmit(layer, productPushIndex, obj){
        var index = layer.load();
        $.ajax({
            type: 'POST',
            url: "/product/manage/updatePushProduct",
            dataType: 'json',
            data: {
                innerName: obj.field.innerName,
                classifyEnum: obj.field.classifyEnum,
                id: adProductId
            },
            success: function (result) {
                state_response(result);
                if (result.code === 'NOTICE' || result.code === 'FAIL'){
                    layer.close(index);
                }
                if (result.code === 'NOTICE') {
                    layer.close(productPushIndex);
                    productapprove_details();
                }
            }
        });
    }
    //产品信息修改
    function productPushFilterFun(layer, form, productPushIndex, obj) {
        var data = obj.field;
        productPushIndex = layer.open({
            type: 1,
            title: '产品信息修改',
            content: template('approve_productPushTpl',data),
            area: ['50%', '40%'],
            success: function (res) {
            }
        });
        form.render('select');
        return productPushIndex;
    }

    //产品详情
    function productapprove_details() {
        $.ajax({
            type: 'GET',
            url: "/product/manage/getDetails",
            dataType: 'json',
            data: {
                id: adProductId
            },
            success: function (result) {
                $("#productDetailsapproveplId").html(template('productapprove_detailsTpl', result.item));
                /*品类*/
                productCateRel();
            }
        });
    }
    
    //待填充的提交
    function  approveWaitFillSubmitFun(productDetailsapprove_layer, obj) {
        productDetailsapprove_layer.confirm("确定提交新品["+ obj.field.title +"]么?<span style='color: #d80f48'>提交后其属性将不能再更改!</span>", function () {
            $.ajax({
                type: 'POST',
                url: "/product/manage/processEvent",
                dataType: 'json',
                data: {
                    id: obj.field.id
                },
                success: function (res) {
                    state_response(res);
                    if (res.code === 'NOTICE'){
                        $.ajax({
                            type: 'GET',
                            url: "/product/manage/getApproveDetails",
                            dataType: 'json',
                            data: {
                                id: adProductId
                            },
                            success: function (result) {
                                $("#productDetailsapproveplId").html(template('productapprove_detailsTpl', result.item));
                            }
                        });
                    }
                }
            });
        });
    }
    
//    产品品类属性关系
    function productCateRel(){
        $.ajax({
            type: 'GET',
            url: "/product/base/attribute/findByCateProId",
            dataType: 'json',
            data: {
                categoryId: adProductCategoryId,
                productId: adProductId
            },
            success: function (result) {
                result.item.productId = adProductId;
                result.item.categoryId = adProductCategoryId;
                $("#category_info").html(template('productDetails_categoryapproveTpl', result));
            }
        });
    }

    //查看sku
    function skuCheck(productDetailsapprove_layer, productDetailsapprove_table, obj){
        lookupSkuProapprove_index = productDetailsapprove_layer.open({
            type: 1,
            title: 'SKU列表',
            content: template('approve_checkSkuTpl',obj),
//            maxmin: true ,
            area: ['50%','50%'],
            success: function (res) {
                approve_checkSkuIndex = productDetailsapprove_table.render({
                    elem: '#approve_checkSkuId',
                    url: "/product/manage/productSkuList?productId=" + adProductId,
                    even: true,     //开启隔行背景
                    page: false,    //关闭分页
                    cols: [[ //表头
                        {field: 'attributeValueTitle', title: '属性值组合' },
                        {field: 'SKU', title: 'SKU', templet: '#approve_skuTpl' }
                    ]],
                    response: {
                        statusName: 'code', //数据状态的字段名称，默认：code
                        statusCode: 'OK', //成功的状态码，默认：0
                        msgName: 'desc', //状态信息的字段名称，默认：msg
                        countName: 'total', //数据总数的字段名称，默认：count
                        dataName: 'item' //数据列表的字段名称，默认：data
                    }
                });
            }
        });
    }

    //产品属性的绑定和解绑
    $("body").on('click','.operate_input',function(){
        var attribute_id = $(this).siblings(".operate_linkbtn").attr("data-id");
        var product_id = $("#attr_product_id").val();
        var category_id = $("#attr_category_id").val();
        var bindIs = $(this).is(':checked');
        var that = $(this);
        if (bindIs){
            $.ajax({
                type: 'POST',
                url: "/product/base/attribute/bindingProduct",
                dataType: 'json',
                data: {
                    productId: product_id,
                    categoryId: category_id,
                    attributeId: attribute_id,
                    bindIs: bindIs
                },
                success: function (result) {
                    state_response(result);
                    productCateRel();
//                    if (result.code === 'FAIL') {
//                        that.prop('checked', false);
//                    }
                }
            });
        }else{
            $.ajax({
                type: 'POST',
                url: "/product/base/attribute/unBindingProduct",
                dataType: 'json',
                data: {
                    productId: product_id,
                    categoryId: category_id,
                    attributeId: attribute_id,
                    bindIs: bindIs
                },
                success: function (result) {
                    state_response(result);
                    productCateRel();
//                    if (result.code === 'FAIL') {
//                        that.prop('checked', false);
//                    }
                }
            });
        }
    });

    //产品属性值的绑定和解绑
    $("body").on('click','.operate_input_val',function(){
        var attrVal_id = $(this).siblings(".operate_linkbtn_val").attr("data-id");
        var productId = $("#attrVal_product_id").val();
        var categoryId = $("#attrVal_category_id").val();
        var attrId = $("#attrVal_attribute_id").val();
        var bindIs = $(this).is(':checked');
        var that = $(this);
        if (bindIs){
            $.ajax({
                type: 'POST',
                url: "/product/base/attributeValue/bind",
                dataType: 'json',
                data: {
                    productId: productId,
                    categoryId: categoryId,
                    attributeId: attrId,
                    attributeValueId: attrVal_id,
                    bindIs: bindIs
                },
                success: function (result) {
                    state_response(result);
                    attrAndAttrValRel();
//                    if (result.code === 'FAIL'){
//                        that.prop('checked',false);
//                    }
                }
            });
        }else{
            $.ajax({
                type: 'POST',
                url: "/product/base/attributeValue/unBind",
                dataType: 'json',
                data: {
                    productId: productId,
                    categoryId: categoryId,
                    attributeId: attrId,
                    attributeValueId: attrVal_id,
                    bindIs: bindIs
                },
                success: function (result) {
                    state_response(result);
                    attrAndAttrValRel();
//                    if (result.code === 'FAIL'){
//                        that.prop('checked',false);
//                    }
                }
            });
        }
    });
    //产品属性值的绑定和解绑操作界面(点击汉字)
    function operate_seleprops(that){
        if($(that).siblings(".operate_input").is(':checked')){
            var attrId = $(that).attr("data-id");
            var attrTitle = $(that).attr("data-title");
            cateCurrentOnclick = that;
//                var bindIs_productId = $(that).attr("data-proId");
//                var bindIs_categoryId = $(that).attr("data-cateId");
            var bindIs_productId = $("#attr_product_id").val();
            var bindIs_categoryId = $("#attr_category_id").val();
            $.ajax({
                type: 'POST',
                url: 'product/base/attributeValue/find',
                dataType: 'json',
                data: {
                    productId: bindIs_productId,
                    attributeId: attrId
                },
                success: function (result) {
                    result.item.productId = bindIs_productId;
                    result.item.categoryId = bindIs_categoryId;
                    result.item.attributeId = attrId;
                    result.item.attrTitle = attrTitle;
                    $('#product_val_info').html(template('productapprove_attrValTpl', result));
                }
            });
        }
    }

    /*属性与属性值的绑定关系*/
    function attrAndAttrValRel(){
        var attrId = $(cateCurrentOnclick).attr("data-id");
        var attrTitle = $(cateCurrentOnclick).attr("data-title");
        var bindIs_productId = $("#attr_product_id").val();
        var bindIs_categoryId = $("#attr_category_id").val();
        $.ajax({
            type: 'POST',
            url: 'product/base/attributeValue/find',
            dataType: 'json',
            data: {
                productId: bindIs_productId,
                attributeId: attrId
            },
            success: function (result) {
                result.item.productId = bindIs_productId;
                result.item.categoryId = bindIs_categoryId;
                result.item.attributeId = attrId;
                result.item.attrTitle = attrTitle;
                $('#product_val_info').html(template('productapprove_attrValTpl', result));
            }
        });
    }

    /*添加属性*/
    function addAttr(obj){
        var proId = $("#attr_product_id").val();
        var cateId = $("#attr_category_id").val();
        var attrTitle = $("#attr_title").val();
        $.ajax({
            type: 'POST',
            url: "product/base/attribute/addByProduct",
            dataType: 'json',
            data: {
                productId: proId,
                categoryId: cateId,
                title: attrTitle
            },
            success: function (res) {
                state_response(res);
                /*重新发请求,不能直接添加,未添加的属性添加*/
                productCateRel();
            }
        });
    }
    /*添加属性值*/
    function addAttrVal() {
        var proId = $("#attrVal_product_id").val();
        var attrId = $("#attrVal_attribute_id").val();
        var attrValTitle = $("#attrVal_title").val();
        $.ajax({
            type: 'POST',
            url: "product/base/attributeValue/addByProduct",
            dataType: 'json',
            data: {
                productId: proId,
                attributeId: attrId,
                title: attrValTitle
            },
            success: function (result) {
                state_response(result);
                attrAndAttrValRel();
            }
        });
    }
</script>