<div class="layui-form border1ccc padding30" >
    
    <div class="layui-form-item">
        <label class="layui-form-label">物流线路代码*</label>
        <div class="layui-input-inline">
            <input  type="text" name="shippingWayCode" required lay-verify="required|codeCheck" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">名称*</label>
        <div class="layui-input-inline">
            <input  type="text" name="shippingWayName" maxlength="50"   required lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">物流商*</label>
        <div class="layui-input-inline">
            <select name="shippingId" id="shippingIdAddSelect" lay-verify="required" >
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    
     <div class="layui-form-item">
        <label class="layui-form-label">公司地址</label>
        <div class="layui-input-inline">
            <input  type="text" name="address"  maxlength="200" autocomplete="off"
                    class="layui-input">
        </div>
    </div>
    
     <div class="layui-form-item">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-inline">
            <input  type="text" name="telphone"  maxlength="50"autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    
     <div class="layui-form-item">
        <label class="layui-form-label">网络渠道</label>
        <div class="layui-input-inline">
            <input  type="text" name="channel"  autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物流注册账号</label>
        <div class="layui-input-inline">
            <input  type="text" name="account"  autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否需要推送订单</label>
        <div class="layui-input-block">
            <input type="radio" name="needSendOrder" value="0" title="不需要" checked>
            <input type="radio" name="needSendOrder" value="1" title="需要" >
        </div>
    </div>    <div class="layui-form-item">
    <label class="layui-form-label">是否需要预先导入运单号</label>
    <div class="layui-input-block">
        <input type="radio" name="needTrackNum" value="0" title="不需要" checked>
        <input type="radio" name="needTrackNum" value="1" title="需要" >
    </div>
</div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否开启运单号的预警</label>
        <div class="layui-input-block">
            <input type="radio" name="trackNoWaringEnable" value="0" title="不需要" checked>
            <input type="radio" name="trackNoWaringEnable" value="1" title="需要" >
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">运单号预警数值</label>
        <div class="layui-input-inline">
            <input type="text" name="trackNoWarningNum" lay-verify="number"  placeholder="" autocomplete="off"
                   class="layui-input" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物流轨迹接口:</label>
        <div class="layui-input-block">
            <div class="layui-input-inline">
            <select name="apiId" id="trackApiIdSelect" lay-verify="required" >
                <option value="">请选择</option>
            </select>
        </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addElementForm">确定</button>
        </div>
    </div>
</div>
<script type="text/javascript">

    layui.use(['form', 'table'], function () {
        var layer = layui.layer;
        var table = layui.table;
        var edit_from = layui.form;

        $.ajax({
            type: 'GET',
            url: "/tms/shipping",
            data: {
                start:0,
                limit:100000
            },
            dataType: 'json',
            success: function (res) {
                console.log("获取物 流公司列表数据", res);
                state_response(res);
                $("#shippingIdAddSelect").append(template('option-shippingId', res));
                edit_from.render();
            }
        });
        
        $.ajax({
            type: 'post',
            url: "/tms/trackApi",
            data: {
                start:0,
                limit:100000
            },
            dataType: 'json',
            success: function (res) {
                state_response(res);
                $("#trackApiIdSelect").append(template('option-trackApiid', res));
                edit_from.render();
            }
        });

        //监听提交
        edit_from.on('submit(addElementForm)', function (data) {
            var params = data.field;


            var reg = /^\w+$/;


            if(params.trackNoWaringEnable == 1 && !params.trackNoWarningNum){
                layer.msg('需要告警请输入告警数值');
                return;
            }
            $.ajax({
                type: 'POST',
                url: "/tms/base/shippingway/addShippingWay",
                data: data.field,
                dataType: 'json',
                success: function (res) {
                    console.log("新增元素返回值", res);
                    if (res.code === 'NOTICE') {
                        layer.close(index); //此时你只需要把获得的index，轻轻地赋予layer.close即可
                        table.reload('demo');
                        layer.msg('新增成功', {icon: 1});
                    } else {
                        layer.msg(res.desc, {icon: 2});
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
            return false;
        });
    });
</script>

<script id="option-shippingId" type="text/html">
    {{each item value index}}
    <option value="{{value.id}}">{{value.shippingName}}</option>
    {{/each}}
</script>


<script id="option-trackApiid" type="text/html">
    {{each item value index}}
        <option value="{{value.id}}">{{value.apiName}}</option>
    {{/each}}
</script>