<div class="layui-form  padding30" >
    <input type="hidden" name="id" value="">
    <input type="hidden" name="classifyStatus" value="">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px;">选择轨迹接口:</label>
        <div class="layui-input-inline">
            <select name="trackApiId" id="trackApiIdEditSelect" lay-verify="required">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px;">物流状态</label>
        <div class="layui-input-inline">
            <input  type="text" name="shippingStatus"  autocomplete="off"
            class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 120px;">物流归类状态:</label>
        <div class="layui-input-inline">
            <select name="classifyCode" id="classifyCodeEditSelect" lay-verify="required" lay-filter="classifyCodeEditSelect">
                <option value="">请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="editElementForm">确定</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    layui.use(['form','table'], function () {
        var edit_status_classify_form = layui.form;
        var edit_status_classify_table = layui.table;


        $.ajax({
            type: 'POST',
            url: "/tms/trackApi",
            data: {
                limit:100000
            },
            dataType: 'json',
            success: function (res) {
                console.log("获取物流公司列表数据", res);
                state_response(res);
                $("#trackApiIdEditSelect").append(template('option-trackApiId', res));
                $('#trackApiIdEditSelect option[value="'+status_classify_data.trackApiId+'"]').prop("selected", "selected");
                edit_status_classify_form.render();
            }
        });

        $.ajax({
            type: 'GET',
            url: "/tms/dic",
            data: {
                type:'classify_status',
            },
            dataType: 'json',
            success: function (res) {
                console.log("获取归类状态数据", res);
                state_response(res);
                $("#classifyCodeEditSelect").append(template('option-classifyCode', res));
                $('#classifyCodeEditSelect option[value="'+status_classify_data.classifyCode+'"]').prop("selected", "selected");
                classifyCodeSelectEve();
                edit_status_classify_form.render();
            }
        });

        edit_status_classify_form.on('select(classifyCodeEditSelect)',function () {
            classifyCodeSelectEve();
        });

        //监听提交
        edit_status_classify_form.on('submit(editElementForm)', function (data) {
            $.ajax({
                type: 'PUT',
                url: "/tms/tackingStatusClassify",
                data: data.field,
                dataType: 'json',
                success: function (res) {
                    console.log("新增元素返回值", res);
                    if(res.code==='NOTICE') {
                        layer.close(edit_status_classify_index); //此时你只需要把获得的index，轻轻地赋予layer.close即可
                        edit_status_classify_table.reload('demo');
                        layer.msg('修改成功', {icon: 1});
                    }else{
                        layer.msg(res.desc,{icon:2});
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
            return false;
        });
        $('input[name=\'id\']').val(status_classify_data.id);
        $('input[name=\'shippingStatus\']').val(status_classify_data.shippingStatus);

    });

    function classifyCodeSelectEve(){
        var classifyStatus=$("#classifyCodeEditSelect").find("option:selected").text();
        $('input[name=\'classifyStatus\']').val(classifyStatus);
    }

</script>


<script id="option-trackApiId" type="text/html">
    {{each item value index}}
    <option value="{{value.id}}">{{value.apiName}}</option>
    {{/each}}
</script>

<script id="option-classifyCode" type="text/html">
    {{each item value index}}
    <option value="{{value.dicCode}}">{{value.dicValue}}</option>
    {{/each}}
</script>