<br>
<div class="layui-form">
    <div class="layui-form-item">
	    <label class="layui-form-label">物流线路名称:</label>
	    <div class="layui-input-inline">
			   <input type="text" name="shippingWayName" placeholder="" autocomplete="off" class="layui-input">
	    </div>
	    <label class="layui-form-label">状态:</label>
	    <div class="layui-input-inline">
			   <select name="state"  >
			   <option value=" ">请选择</option>
                <option value="0">新建</option>
                <option value="1">有效</option>
                <option value="2">无效</option>
               </select>
	    </div>
        <label class="layui-form-label">物流商:</label>
        <div class="layui-input-inline">
            <select name="shippingId" id="shippingIdSelect">
                <option value="">请选择</option>
            </select>
        </div>
	    <div class="layui-input-inline">
	      <button class="layui-btn" lay-submit lay-filter="position_search">搜索</button>
	    </div>
	    <div class="layui-input-inline">
	       <button class="layui-btn layui-btn-normal" onclick="addShippingWay()">新增物流方式</button>
	    </div>
  </div>  
</div>
<table id="demo" lay-filter="test"></table>

<script type="text/javascript">
  function addShippingWay(){
	  $.get('view/tms/base/addshippingway.html', function(str){
          index = layer.open({
              type: 1
              ,title :'新增元素'
              ,content: str //注意，如果str是object，那么需要字符拼接。
              ,maxmin: true
              ,area: '60%'
          });
      });
  }
</script>
<script>
    var shipping_data,window_index,edit_shippingway_index = false;
    layui.use(['layer', 'table', 'element', 'form'], function () {
        var layer = layui.layer;
        var index = layer.load(0,{time:5*1000});
        var table = layui.table;
        var form = layui.form;

        form.render();

        $.ajax({
            type: 'GET',
            url: "/tms/shipping",
            data: {
                limit:100000
            },
            dataType: 'json',
            success: function (res) {
                console.log("获取物流商列表数据", res);
                state_response(res);
                $("#shippingIdSelect").append(template('option-shippingId', res));
                form.render();
            }
        });

        //第一个实例
        table.render({
            elem: '#demo'
            , id: 'demo'
            , url: '/tms/base/shippingway/query' //数据接口
            , method: 'post'
            ,height: 'full-150' //高度最大化减去差值
            , done: function (res, curr, count) {
                var element = layui.element;
                element.init();
                layer.close(index);
            }
            , response: {
                statusName: 'code' //数据状态的字段名称，默认：code
                , statusCode: 'OK' //成功的状态码，默认：0
                , msgName: 'desc' //状态信息的字段名称，默认：msg
                , countName: 'total' //数据总数的字段名称，默认：count
                , dataName: 'item' //数据列表的字段名称，默认：data
            }
            , page: true //开启分页
            , cols: [[ //表头
                 {field: 'id', title: 'id',fixed: 'left',width:50}
                , {field: 'shippingWayCode', title: '代码'}
                , {field: 'shippingWayName', title: '物流线路名称'}
                , {field: 'shippingName', title: '物流商'}
                , {field: 'apiName', title: '轨迹接口'}
                , {field: 'state', title: '状态',templet:'#stateRender'}
                , {field: 'address', title: '公司地址'}
                , {field: 'telphone', title: '联系电话'}
                , {field: 'channel', title: '网络渠道'}
                , {field: 'account', title: '物流注册账号'}
                , {field: 'creator', title: '创建人'}
                , {field: 'createAt', title: '创建时间',width:170}
                , {field: 'modifier', title: '修改人'}
                , {field: 'updateAt', title: '最后修改时间',width:170}
                , {field: '', title: '操作', templet: '#barDemo', align: 'center',fixed: 'right',width:220}

            ]]
        });

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            shipping_data = data;
            if (layEvent === 'position-delete') { //删除
                layer.confirm('你确定要删除该物流吗?', {icon: 3, title:'提示'}, function(index){
                    //do something
                    window_index = index;
                    $.ajax({
                        type: 'DELETE',
                        url: "/tms/base/shippingway?id="+ shipping_data.id,
                        dataType: 'json',
                        success: function (res) {
                            console.log("删除元素返回值", res);
                            if(res.code==='NOTICE') {
                                table.reload('demo');
                                layer.msg('删除物流方式成功', {icon: 1});
                            }else{
                                layer.msg(res.desc,{icon:2});
                            }
                            layer.close(window_index);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                        }
                    });
                },function(index){
                    layer.close(index);
                });
            } else if (layEvent === 'position-enabled') { //启用
                layer.confirm('你确定要启用该物流吗?', {icon: 3, title:'提示'}, function(index){
                    //do something
                    window_index = index;
                    enditShippingWayState(1);
                },function(index){
                    layer.close(index);
                });
            } else if (layEvent === 'position-disable') { //禁用
                layer.confirm('你确定要禁用该物流吗?', {icon: 3, title:'提示'}, function(index){
                    //do something
                    window_index = index;
                    enditShippingWayState(2);
                },function(index){
                    layer.close(index);
                });
            } else if (layEvent === 'position-edit') { //编辑
                $.get('view/tms/base/edit_shippingway.html', function (str) {
                    edit_shippingway_index = layer.open({
                        type: 1
                        ,title: '编辑物流商'
                        , content: str //注意，如果str是object，那么需要字符拼接。
                        , maxmin: true
                        , area: '50%',
                    });
                });
            }

        });
        form.on('submit(position_search)', function(data){
            table.reload('demo', {
                where: {
                    shippingWayName:data.field.shippingWayName,
                    shippingId:data.field.shippingId,
                    state:data.field.state,
                }    //设定异步数据接口的额外参数，任意设
                , page: {
                    page: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });

    function enditShippingWayState(state){
        var table = layui.table;
        $.ajax({
            type: 'PUT',
            url: "/tms/base/shippingway/updateState",
            data:{
                id:shipping_data.id,
                state:state
            },
            dataType: 'json',
            success: function (res) {
                console.log("更新元素返回值", res);
                if(res.code==='NOTICE') {
                    table.reload('demo');
                    layer.msg('更改物流方式状态成功', {icon: 1});
                }else{
                    layer.msg(res.desc,{icon:2});
                }
                layer.close(window_index);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });

    }

</script>


<script type="text/html" id="stateRender">

    {{#  if(d.state==0){ }}
    <a>新建</a>
    {{#  } else if(d.state==1) { }}
    <a>有效</a>
    {{#  } else if(d.state==2){ }}
    <a>无效</a>
    {{#  } }}
</script>



<script type="text/html" id="barDemo">

    {{#  if(d.state==0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="position-delete">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="position-enabled">启用</a>
    <a class="layui-btn layui-btn-xs" lay-event="position-edit">编辑</a>
    {{#  } else { }}
    {{# if(d.state==1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="position-disable">禁用</a>
    {{# }else if(d.state==2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="position-enabled">启用</a>
    {{#  } }}
    <a class="layui-btn layui-btn-xs" lay-event="position-edit">编辑</a>
    {{#  } }}
</script>

<script id="option-tpl1" type="text/html">
    {{each item value index}}
    <option value="{{value.name}}">{{value.name}}</option>
    {{/each}}
</script>

<script id="option-shippingId" type="text/html">
    {{each item value index}}
        <option value="{{value.id}}">{{value.shippingName}}</option>
    {{/each}}
</script>