<br>
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间:</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="createDate" name="createDate" >
        </div>
        <label class="layui-form-label">物流线路:</label>
        <div class="layui-input-inline">
            <select name="shippingWayId" id="shippingWayIdSelect">
                <option value="">请选择</option>
            </select>
        </div>
        <label class="layui-form-label" >选择仓库:</label>
        <div class="layui-input-inline">
            <select name="wmsId" lay-search id="wmsIdSelect">
                <option value=" ">不限</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <button class="layui-btn" lay-submit lay-filter="position_search">搜索</button>
        </div>
        <div class="layui-input-inline">
            <button class="layui-btn layui-btn-warm" onclick="addShippingTrackingNoList()">
                <i class="layui-icon">&#xe608;</i> 新增
            </button>
        </div>
    </div>
    <div class="layui-form-item ">
        <blockquote class="layui-elem-quote layui-quote-nm" id="footer">全部运单号:<span id="allCount"></span>&nbsp;&nbsp;   | &nbsp;未使用运单号:<span id="unusedCount"></span>  </blockquote>
    </div>
</div>
<table id="demo" lay-filter="test"></table>

<script>
    var add_tracking_index,tracking_data = false;
    layui.use(['layer', 'table', 'element', 'form','laydate'], function () {
        var layer = layui.layer;
        var index = layer.load(0,{time:5*1000});
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;

        store_wmsId_option('wmsIdSelect');

        //执行一个laydate实例
        laydate.render({
            elem: '#createDate'//指定元素
            ,change: function(value, date, endDate){
                console.log(value) //在控件上弹出value值
            }
        });

        table.render({
            elem: '#demo'
            , id: 'demo'
            , url: '/tms/shippingTrackingNoList/query' //数据接口
            , method: 'post'
            ,height: 'full-220' //高度最大化减去差值
            , done: function (res, curr, count) {
                var element = layui.element;
                element.init();
                layer.close(index);
            }
            , response: {
                statusName: 'code' //数据状态的字段名称，默认：code
                , statusCode: 'OK' //成功的状态码，默认：0
                , msgName: 'desc' //状态信息的字段名称，默认：msg
                , countName: 'total' //数据总数的字段名称，默认：count
                , dataName: 'item' //数据列表的字段名称，默认：data
            }
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'id',fixed: 'left',width:80}
                , {field: 'shippingWayName', title: '物流线路名称'}
                , {field: 'wmsName', title: '仓库'}
                , {field: 'productType', title: '货物类型',templet:'#typeRender'}
                , {field: 'trackNumber', title: '运单号'}
                , {field: 'trackStatus', title: '状态',templet:'#statusRender'}
                , {field: 'creator', title: '创建人'}
                , {field: 'createAt', title: '创建时间',width:170}
                , {field: 'modifier', title: '修改人'}
                , {field: 'updateAt', title: '最后修改时间',width:170}
                , {field: '', title: '操作', templet: '#operationDemo', align: 'center',fixed: 'right',width:220}
            ]]
        });


        $.ajax({
            type: 'POST',
            url: "/tms/base/shippingway/query",
            data: {
                limit:100000,
                shippingWayName:null
            },
            dataType: 'json',
            success: function (res) {
                console.log("获取物流公司列表数据", res);
                state_response(res);
                $("#shippingWayIdSelect").append(template('option-shippingWayId', res));
                form.render();
            }
        });

        $.ajax({
            type: 'GET',
            url: "/tms/shippingTrackingNoList/numberCount",
            dataType: 'json',
            success: function (res) {
                console.log("获取运单号数量数据", res);
                state_response(res);
                $("#allCount").append(res.item.allCount);
                $("#unusedCount").append(res.item.unusedCount);
            }
        });

        table.on("tool(test)",function (obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值  ）
            tracking_data = data;
            layer.confirm('你确定要作废该运单号吗?', {icon: 3, title:'提示'}, function(index){
                $.ajax({
                    type: 'PUT',
                    url: "/tms/shippingTrackingNoList/disable/"+data.id,
                    dataType: 'json',
                    success: function (res) {
                        console.log("更新元素返回值", res);
                        if(res.code==='NOTICE') {
                            table.reload('demo');
                            layer.msg('更改状态成功', {icon: 1});
                        }else{
                            layer.msg(res.desc,{icon:2});
                        }
                        layer.close(index);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            },function(index){
                layer.close(index);
            });
        });

        form.on('submit(position_search)', function(data){
            var minCreateAt = null;
            var maxCreateAt = null;
            var createDate =  data.field.createDate;
            if(createDate != ""){
                minCreateAt = createDate + " 00:00:00";
                maxCreateAt = createDate + " 23:59:59";
            }
            table.reload('demo', {
                where: {
                    minCreateAt:minCreateAt ,
                    shippingWayId:data.field.shippingWayId,
                    maxCreateAt:maxCreateAt,
                    wmsId:data.field.wmsId,
                }    //设定异步数据接口的额外参数，任意设
                , page: {
                    page: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>


<script type="text/javascript">
    function addShippingTrackingNoList(){
        $.get('view/tms/base/add_shippingTrackingNoList.html', function(str){
            add_tracking_index = layer.open({
                type: 1
                ,title :'新增'
                ,content: str //注意，如果str是object，那么需要字符拼接。
                ,maxmin: true
                ,area: ['50%','80%']
            });
        });
    }
</script>


<script type="text/html" id="typeRender">
    {{#  if(d.productType==0){ }}
    所有
    {{#  } else if(d.productType==1) { }}
    普货
    {{#  } else if(d.productType==2){ }}
    特货
    {{#  } }}
</script>

<script type="text/html" id="statusRender">
    {{#  if(d.trackStatus==0){ }}
    <a>未使用</a>
    {{#  } else if(d.trackStatus==1) { }}
    <a>已使用</a>
    {{#  } else if(d.trackStatus==2) { }}
    <a>失效</a>
    {{#  } }}
</script>


<script type="text/html" id="operationDemo">
    {{#  if(d.trackStatus==0){ }}
        <a class="layui-btn layui-btn-xs" lay-event="position-disable">失效</a>
    {{#  }  }}
</script>

<script id="option-shippingWayId" type="text/html">
    {{each item value index}}
    <option value="{{value.id}}">{{value.shippingWayName}}</option>
    {{/each}}
</script>
