<br>
<div class="layui-form">
        <label class="layui-form-label">物流线路:</label>
        <div class="layui-input-inline">
            <select name="shippingWayId" id="shippingWayIdSelect">
                <option value="">请选择</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <button class="layui-btn" lay-submit lay-filter="position_search">搜索</button>
        </div>
    </div>
</div>
<table id="demo" lay-filter="test"></table>

<script>
    layui.use(['layer', 'table', 'element', 'form'], function () {
        var layer = layui.layer;
        var index = layer.load(0,{time:5*1000});
        var table = layui.table;
        var form = layui.form;

        $.ajax({
            type: 'POST',
            url: "/tms/base/shippingway/query",
            data: {
                limit:100000,
                shippingWayName:null
            },
            dataType: 'json',
            success: function (res) {
                console.log("获取物流公司列表数据", res);
                state_response(res);
                $("#shippingWayIdSelect").append(template('option-shippingWayId', res));
                form.render();
            }
        });

        table.render({
            elem: '#demo'
            , id: 'demo'
            , url: '/tms/shippingTrackingNoList/shippingGroupCount' //数据接口
            , method: 'get'
            , done: function (res, curr, count) {
                var element = layui.element;
                element.init();
                layer.close(index);
            }
            , response: {
                statusName: 'code' //数据状态的字段名称，默认：code
                , statusCode: 'OK' //成功的状态码，默认：0
                , msgName: 'desc' //状态信息的字段名称，默认：msg
                , countName: 'total' //数据总数的字段名称，默认：count
                , dataName: 'item' //数据列表的字段名称，默认：data
            }
            , even: true //开启隔行背景
            , page: false //关闭分页
            , cols: [[ //表头
                {field: 'shippingWayName', title: '物流线路名称'}
                , {field: 'productType', title: '货物类型',templet:'#typeRender'}
                , {field: 'allCount', title: '总计'}
                , {field: 'unusedCount', title: '未使用'}
                , {field: 'usedCount', title: '已使用'}
                , {field: 'disableCount', title: '作废'}
            ]]
        });

        form.on('submit(position_search)', function(data){
            table.reload('demo', {
                where: {
                    shippingWayId:data.field.shippingWayId,
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });

</script>


<script type="text/html" id="typeRender">
    {{#  if(d.productType==0){ }}
    所有
    {{#  } else if(d.productType==1) { }}
    普货
    {{#  } else if(d.productType==2){ }}
    特货
    {{#  } }}
</script>

<script id="option-shippingWayId" type="text/html">
    {{each item value index}}
    <option value="{{value.id}}">{{value.shippingWayName}}</option>
    {{/each}}
</script>